<a href="https://colab.research.google.com/github/KIMMOOKYONG/COLAB-NOTENOOK/blob/main/pykrx%EB%A1%9C_%EC%A3%BC%EA%B0%80_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# KRX, Naver 등의 웹사이트에서 주가정보를 스크래핑하는 모듈
!pip install pykrx

In [185]:
from pykrx import stock

In [186]:
# KOSPI/KOSDAQ/KONEX 종목코드 조회
stock_code = stock.get_market_ticker_list(date="20210520", market="ALL")
(stock_code[:6], len(stock_code))

(['060310', '095570', '006840', '054620', '265520', '211270'], 2562)

In [187]:
# KOSPI 종목코드 조회
stock_code = stock.get_market_ticker_list(date="20210520", market="KOSPI")
(stock_code[:6], len(stock_code))

(['095570', '006840', '027410', '282330', '138930', '001460'], 923)

In [188]:
# KOSDAQ 종목코드 조회
stock_code = stock.get_market_ticker_list(date="20210520", market="KOSDAQ")
(stock_code[:6], len(stock_code))

(['060310', '054620', '265520', '211270', '035760', '051500'], 1503)

In [189]:
# KONEX 종목코드 조회
stock_code = stock.get_market_ticker_list(date="20210520", market="KONEX")
(stock_code[:6], len(stock_code))

(['278990', '112190', '183410', '076340', '243870', '244880'], 136)

In [190]:
# 종목명 반환
stock_name = stock.get_market_ticker_name("005930")
stock_name

'삼성전자'

In [191]:
# 삼성전자의 20210501~20210520의 주가데이터
df = stock.get_market_ohlcv_by_date(fromdate="20210501", todate="20210520", ticker="005930")
df

               시가     고가     저가     종가       거래량
날짜
2021-05-03  81000  82400  81000  81700  15710336
2021-05-04  81900  82600  81800  82600  12532550
2021-05-06  81700  82300  81700  82300  17047511
2021-05-07  81800  82100  81500  81900  14154882
2021-05-10  82300  83500  81800  83200  19385027
2021-05-11  82500  82600  81100  81200  28996680
2021-05-12  80800  81200  79800  80000  35812268
2021-05-13  78900  79600  78400  78500  31490096
2021-05-14  79000  80300  78900  80100  16450920
2021-05-17  80800  80900  79200  79600  17740855
2021-05-18  79600  80000  79100  79600  17494407
2021-05-20  79400  79700  79100  79500  16541828

In [192]:
# 한번에 많은 종목을 조회하면 ip가 차단될 수 있기 때문에 반복분을 돌면서 사용할때는 time 모듈로 sleep을 걸어주는 것이 좋음
import time
import pandas as pd
stock_code = stock.get_market_ticker_list() # 현재일자 기준 가장 가까운 영업일의 코스피 상장종목 리스트
res = pd.DataFrame()
for ticker in stock_code[:4]:
    df = stock.get_market_ohlcv_by_date(fromdate="20210517", todate="20210520", ticker=ticker)
    df = df.assign(종목코드=ticker, 종목명=stock.get_market_ticker_name(ticker))
    res = pd.concat([res, df], axis=0)
    time.sleep(1)

res = res.reset_index()
res

           날짜      시가      고가      저가      종가     거래량    종목코드     종목명
0  2021-05-17    6320    6340    5920    6180  295284  095570  AJ네트웍스
1  2021-05-18    6090    6220    6070    6190   76393  095570  AJ네트웍스
2  2021-05-20    6150    6160    5760    5820  253202  095570  AJ네트웍스
3  2021-05-17   33750   35150   33200   34900  124814  006840   AK홀딩스
4  2021-05-18   35000   35100   33800   34600   98239  006840   AK홀딩스
5  2021-05-20   34800   35100   33900   35000   65749  006840   AK홀딩스
6  2021-05-17    6990    7010    6880    6910  223309  027410     BGF
7  2021-05-18    6840    6930    6740    6880  449796  027410     BGF
8  2021-05-20    6810    6880    6770    6820  262941  027410     BGF
9  2021-05-17  177500  181500  176000  180500   30384  282330  BGF리테일
10 2021-05-18  183000  183500  180000  182000   21897  282330  BGF리테일
11 2021-05-20  178000  182000  175000  178000   37376  282330  BGF리테일

In [193]:
# 특정일자의 전체종목 시세 조회
df = stock.get_market_ohlcv_by_ticker(date="20210520")
df.head()

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    6150    6160    5760    5820   253202   1492626480 -5.98
006840   34800   35100   33900   35000    65749   2276759650  1.16
027410    6810    6880    6770    6820   262941   1787892060 -0.87
282330  178000  182000  175000  178000    37376   6621394500 -2.20
138930    8020    8090    7900    7960  1861401  14829564980 -1.49

In [194]:
df = stock.get_market_ohlcv_by_ticker(date="20210520", market="KOSPI")
df.head()

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    6150    6160    5760    5820   253202   1492626480 -5.98
006840   34800   35100   33900   35000    65749   2276759650  1.16
027410    6810    6880    6770    6820   262941   1787892060 -0.87
282330  178000  182000  175000  178000    37376   6621394500 -2.20
138930    8020    8090    7900    7960  1861401  14829564980 -1.49

In [195]:
# 모든 종목의 가격 변동 조회
from pykrx import stock
df = stock.get_market_price_change_by_ticker(fromdate="20210517", todate="20210520")
df.head()

            종목명      시가      종가   변동폭   등락률      거래량         거래대금
티커
095570   AJ네트웍스    6260    5820  -440 -7.03   624879   3770361760
006840    AK홀딩스   33500   35000  1500  4.48   288802   9957000550
027410      BGF    6930    6820  -110 -1.59   936046   6408638450
282330   BGF리테일  177500  178000   500  0.28    89657  16027170500
138930  BNK금융지주    8100    7960  -140 -1.73  4689744  37628415360

In [196]:
# 특정일자의 종목별 DIV/BPS/PER/EPS 조회
# DIV(배당수익률): (주가배당금/주가) * 100
# BPS(주당순자산가치=청산가치): (순자산)/(총발행주식수)
# PER(주가수익비율): (주가)/(주당순이익)
# EPS(주당순이익): (당기순이익)/(총발행주식수)
# PBR(주가순자산비율) = (주가)/(BPS) = PER*EPS / BPS

df = stock.get_market_fundamental_by_ticker(date="20210520")
df.head()

          BPS    PER   PBR   EPS   DIV   DPS
티커
095570   6089   0.00  0.96     0  3.61   210
006840  50471   0.00  0.69     0  1.14   400
027410  15781  23.93  0.43   285  1.61   110
282330  40317  25.06  4.42  7103  1.35  2400
138930  26781   5.31  0.30  1498  4.02   320

In [197]:
# 일자별 DIV/BPS/PER/EPS 조회
df = stock.get_market_fundamental_by_date(fromdate="20210517", todate="20210520", ticker="005930")
df.head()

              BPS    PER   PBR   EPS   DIV   DPS
날짜
2021-05-17  39406  20.72  2.02  3841  3.76  2994
2021-05-18  39406  20.72  2.02  3841  3.76  2994
2021-05-20  39406  20.70  2.02  3841  3.77  2994

In [198]:
# 참조
# https://github.com/sharebook-kr/pykrx